<h1>Navigation Type</h1>
<% if @navigation_types.blank? %>
  <p>No books in Database </p> 
<% else %>
<u1>
    <table class="index" >
       <% @navigation_types.each do |navType| %>
         <tr  class="node level-0">
           <td class="page"><%= link_to  navType.name, { :action => 'edit', :id => navType.id } %></td>
           <td class="page"><%= link_to image('remove', :alt => 'Remove Navigation Type'), remove_admin_navigation_type_url(:id => navType.id) %></td>
         </tr>
      <%end%>
    </table>
</u1>
<%- end %>

<%= link_to 'Add new navigation type', { :action => 'new' } %>